@import "../../variables.module.scss";

footer {
  color: $dark;
  width: 100%;
}

.dark {
  background-color: $dark;
  width: 100%;
  color: $white;
  transition: all 400ms;

  a,
  i,
  li {
    color: $white;
    transition: color 400ms;
  }

  a:visited {
    color: $white;
  }

  footer {
    color: $white;
  }
}

.light {
  background-color: $white;
  color: $dark;
  width: 100%;
  transition: all 400ms;
}