.c {
    height: 100vh;
    position: relative;
  }
  
  .cbg {
    width: 20px;
    height: 100%;
    background-color: #59b256;
    position: absolute;
  }
  
  .cwrapper {
    padding: 50px;
    display: flex;
  }
  
  .cleft {
    flex: 1;
  }
  
  .cright {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .ctitle {
    font-size: 60px;
    width: 80%;
  }
  
  .cinfoitem {
    display: flex;
    align-items: center;
    margin: 50px 0px;
    font-size:1rem;
    font-weight: 500;
    width: 70%;
  }
  
  .cicon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }
  
  .cdesc {
    font-weight: 500;
    font-size:1rem;
  }
  
  form {
    margin-top: 20px;
    width:700px;
  }
  
  input {
    width: 70%;
    height: 50px;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
    border-radius:0.5rem;
  }
  
  textarea {
    width: 100%;
    margin: 10px 0px;
    font-size: 14px;
    padding: 10px;
    border-radius:0.5rem;
  }
  
  button {
    border: 2px solid black;
    border-radius:1rem;
    font-weight: 500;
    cursor: pointer;
  }
  
  @media screen and (max-width: 480px) {
    .c-wrapper {
      flex-direction: column;
      padding: 0px 50px;
    }
  
    .ctitle {
      font-size: 30px;
    }
  
    .cinfoitem {
      margin: 20px 0px;
      width: 100%;
    }
  
    .cdesc {
      display: none;
    }
  
    form {
      margin-top: 0px;
      display: flex;
      flex-wrap: wrap;
    }
  
    input {
      width: 35%;
      height: 40px;
      margin: 10px;
      margin-left: 0;
    }
  
    button {
      margin-top: 10px;
    }
  }