.contacttop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contactstrip {
  display: flex;
}
.contactinfoitem {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  width: 70%;
}

.cicon {
  width: 30px;
  height: 30px;
  margin: 10px;
}

form {
  margin-top: 20px;
  width: 60%;
}

input {
  width: 90%;
  height: 50px;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
  border-radius: 0.5rem;
}

textarea {
  width: 90%;
  margin: 10px 0px;
  font-size: 14px;
  padding: 10px;
  border-radius: 0.5rem;
}

button {
  border: 2px solid black;
  border-radius: 1rem;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (max-width: 1080px) {
  .contactwrapper {
    flex-direction: column;
    padding: 0px 50px;
  }
  .contactinfoitem {
    width: 100%;
  }
  input {
    padding-left: 5px;
    width: 100%;
  }
  textarea {
    padding-left: 5px;
    width: 100%;
  }
  button {
    margin-top: 10px;
  }
}
@media screen and (max-width: 480px) {
  .contactstrip {
    display: none;
  }
}