@import "../../variables.module.scss";

nav {
  transition: $transition;
  background-color: $lightgray;
  position:fixed;
  top:0;
  z-index: 999;
}

.active {
  border-bottom: 5px solid;
  border-image-slice: 1;
}

li {
  transition: $transition;

  &:hover {
    transform: translateY(-3px);
    transition: $transition;
  }
}
.menu{
  display:none;
}
.options{
  display:flex;
  gap:2rem;
  align-items: center;
}
@media all and (max-width:800px){
  .menu{
    display:flex;
    align-items: center;
    margin-right: -30px;
  }
  .options{
    display:none;
  }
}